body{
    background-image:url("nature.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    }

.container{
display:flex;
justify-content: center;
   align-items: center;
   height:100vh;
}

.btn{
    background-color:#B9EDDD;
    padding:20px;
    font-family: 'Dancing Script', cursive;
    font-size:40px;
    border-radius:40px;
    border:2px solid green;
    color:#263A29;
    position:fixed;
    
}

.par{
    font-family: 'Dancing Script', cursive;
    font-size:30px;
    background-color:#B9EDDD;
    padding:20px;
    border: 2px solid green;
    border-radius:50px;
    margin-top:500px; 
    display:none;
    width:70%;

}

